.logo {
	position: absolute;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}
.logo a {
	background: transparent;
	color: #fff;
	text-decoration: none;
	display: inline-block;
	line-height: 1;
	margin: 0;
}
.logo:hover a,
.logo a:hover,
.logo a:active,
.logo a:focus {
	background: ;
	color: ;
	text-decoration: none;
}
@media screen and (min-width: ) {
	.logo {
		position: static;
	}
	.logo a {
		background: ;
	}
	.logo:hover a,
	.logo a:hover,
	.logo a:active,
	.logo a:focus {
		color: ;
	}
}
.off-canvas-toggle + .container .navbar-header .logo {
	left: ;
	border-left: 1px solid ;
}
@media screen and (min-width: ) {
	.off-canvas-toggle + .container .navbar-header .logo {
		border-left: 0;
	}
}
.logo-image > a {
	max-width: 160px;
	max-height: 55px;
}
.logo-image > a > img {
	max-width: 100%;
}
.logo-image span,
.logo-image small {
	display: none;
}
.logo-text {
	text-transform: uppercase;
	font-size: ;
}
.logo-text a {
	line-height: ;
	padding: 0 ;
}
.logo-text .site-slogan {
	display: none;
}
.head-search {
	height: ;
	position: absolute;
	right: 0;
	margin: 0;
	z-index: 1000;
}
.head-search form {
	margin: 0;
}
.head-search label {
	display: none;
}
.head-search .search {
	background: ;
	border-left: 1px solid ;
	border-right: 1px solid ;
	position: relative;
}
@media screen and (min-width: ) {
	.head-search .search {
		background: ;
	}
}
.head-search .search .fa-search {
	color: ;
	content: "\f002";
	display: block;
	font-family: "FontAwesome";
	position: absolute;
	left: 20px;
	top: 19px;
}
.head-search .form-control {
	border: 0;
	background: transparent;
	color: ;
	height:  - 1;
	line-height: ;
	position: relative;
	margin: 0;
	padding: 0 15px 0 40px;
	width: 0;
}
@media screen and (min-width: ) {
	.head-search .form-control {
		height: ;
	}
}
.head-search .form-control:hover,
.head-search .form-control:active,
.head-search .form-control:focus {
	color: ;
	box-shadow: none;
}
.head-search .form-control:active,
.head-search .form-control:focus {
	width: 180px;
}
.navbar-toggle + .head-search {
	right: ;
}
@media screen and (min-width: ) {
	.head-search,
	.navbar-toggle + .head-search {
		right:  / 2;
		top: 0;
	}
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
	color: ;
	background: transparent;
}
.chzn-container-multi .chzn-choices li.search-field input[type="text"] {
	height: 30px;
}
.chzn-container {
	max-width: 100%;
}
.chzn-container .chzn-single {
	max-width: 260px;
}
.ie8 .radio.t3onoff {
	border: 0;
}
.ie8 label.on,
.ie8 label.off {
	border: 1px solid ;
}
.pagination > li > a,
.pagination > li > span {
	margin-bottom: /2;
}
#eblog-wrapper {
	line-height: 1.625;
}
.com_weblinks .weblink-categories .page-header.item-title .btn {
	padding: 5px;
}
.com_weblinks .weblink-categories .page-header.item-title .btn .fa-minus {
	display: block;
}
.com_weblinks .weblink-categories .page-header.item-title .btn .fa-plus {
	display: none;
}
.com_weblinks .weblink-categories .page-header.item-title .btn.collapsed .fa-minus {
	display: none;
}
.com_weblinks .weblink-categories .page-header.item-title .btn.collapsed .fa-plus {
	display: block;
}
.t3-sl {
	padding-bottom:  * 2;
	padding-top:  * 2;
}
.t3-sl .t3-module {
	margin-bottom: 0;
}
.t3-sl .t3-module + .t3-module {
	margin-top: ;
}
@media screen and (min-width: ) {
	.t3-sl {
		padding-bottom:  * 3;
		padding-top:  * 3;
	}
}
.t3-sl-1 {
	border-bottom: 1px solid ;
}
.t3-mainbody {
	padding-top: ;
	padding-bottom: ;
}
.t3-content {
	padding-top: ;
	padding-bottom: ;
}
.t3-sidebar {
	padding-top: ;
	padding-bottom: ;
}
.t3-footer {
	background: ;
	color: ;
}
.t3-footer small {
	display: block;
	font-size: 100%;
}
.t3-footer-sl {
	padding:  0;
}
@media screen and (min-width: ) {
	.t3-footer-sl {
		padding:  * 2 0;
	}
}
.t3-footer-sl .t3-module {
	background: ;
	color: ;
	margin-top:  / 2;
	margin-bottom:  / 2;
}
.t3-footer-sl .t3-module .module-title {
	color: ;
	font-size: ;
	margin-bottom:  / 2;
}
.t3-footer-sl .t3-module ul {
	list-style: none;
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 0;
}
.t3-footer-sl .t3-module ul > li {
	line-height: 24px;
}
.t3-footer-sl .t3-module ul > li > a {
	color: ;
}
.t3-footer-sl .t3-module ul > li > a:hover,
.t3-footer-sl .t3-module ul > li > a:active,
.t3-footer-sl .t3-module ul > li > a:focus {
	color: ;
}
#back-to-top {
	position: fixed;
	right: ;
	top: auto;
}
#back-to-top.affix {
	bottom:  * 2;
}
#back-to-top a {
	outline: none;
}
#back-to-top i {
	font-size: 10;
}
.t3-copyright {
	border-top: 1px solid ;
	font-size: ;
	padding:  * 2 0  * 4;
}
.t3-copyright small {
	margin-bottom: 5px;
}
.copyright {
	margin-bottom: ;
}
@media screen and (min-width: ) {
	.poweredby {
		text-align: right;
	}
}
.poweredby .t3-logo,
.poweredby .t3-logo-small {
	display: inline-block;
}
.mod-preview-info {
	z-index: 2000;
}
#ezblog-body .blog-text p,
#ezblog-body .blog-text li {
	line-height: 1.625;
}
